body {
    font-family: Arial, sans-serif;
    color: #343a40;
}

.gradient {
    /* display: flex; */
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #240750, #344C64, #577B8D, #57A6A1);
    background-size: 300% 300%;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.form-control {
    margin: 0 auto;
    max-width: 70%;
}

.mt-5 {
    text-align: center;
}

#compareButton {
    max-width: 40%;
}