body {
    font-family: Arial, sans-serif;
    background-color: rgb(93, 99, 100); /* Fundo cinza para o body */
    color: #343a40;
}

/* Removido: .outer-wrapper */

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff; /* Fundo branco para o container principal */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    margin-bottom: 20px;
}

.form-control {
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-success {
    background-color: #28a745;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #218838;
}